@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./background.gif'); /* Replace with the path to your GIF */
  background-size: cover; /* Make the background cover the entire viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  overflow: hidden; /* Hide scrollbars if necessary */
}

.root-wrapper {
  background-color: #030518d3;
  border-right: #e1d5ec 3px solid;
  border-left: #e1d5ec 3px solid;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 0 0 15px #e1d5ec;
}

.root-container {
  background-color: #13163f67;
  width: 100vw;
  height: 100vh;
}

.bottom-1, .bottom-3 {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.bottom-1 {
  border-right: #e1d5ec 3px solid;
  transform: translateX(-50%);
}

.bottom-3 {
  border-left: #e1d5ec 3px solid;
  transform: translateX(50%);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

.form button {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #612ee0;
    border: #e1d5ec 2px solid;
} 

.form button:hover, .form button:active  {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #510dff;
  border: #e1d5ec 2px solid;
  transition: all 0.25s ease-in-out;
} 

.background {
  background: url('./mazovia_main_banner.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 120px;
  max-width: 150px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 10px;
  margin-bottom: -35px;
}